.container {
  padding: 50px 50px;
  padding-bottom: 100px;
  color: var(--color-white);
}
.limit {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.limit h2 {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 15px;
  color: var(--color-white);
}
.limit small {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  color: var(--color-yellow);
}
.limit p {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 60px;
}
.counters {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.counter {
  border: 5px solid var(--color-yellow);
  width: 250px;
  height: 270px;
  border-radius: 10px;
  display: block;
  font-family: var(--font_5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
.date {
  padding-top: 10px;
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 16px;
}
