@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;700&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
:root {
  --color-white: #f1f1f1;
  --color-white2: #f8f8fa;
  --color-white3: #fff;
  --color-black: #303030;
  --color-black2: #24262b;
  --color-black3: #111;
  --color-primary: #eecd02;
  --color-secondary: #1781a8;
  --color-yellow: #eecd02;

  --font_1: "Unica One", cursive;
  --font_2: "Anton", sans-serif;
  --font_3: "Roboto", sans-serif;
  --font_4: "Rubik", sans-serif;
  --font_5: "Orbitron", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-black3);
  position: relative;
  z-index: -1;
}
html,
body {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  color: var(--color-white);
  text-decoration: none;
}
.strong {
  font-weight: bold;
  color: var(--color-yellow);
  font-family: var(--font_4);
}
